body{
    background: rgb(43,167,32);
background: radial-gradient(circle, rgba(43,167,32,1) 32%, rgba(9,0,2,1) 100%);
}

.new{
    text-align: center;
    line-height: 200px;
    background-color: white;
    font-size: 70px;
    height: 200px;
    width: 143px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    margin: 4px;
    float: left;
   
    
}
.counter{
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: 2px solid white;
    color: white;
}

.bigButton{
    font-size: 60px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    position: absolute;
    left: 15%;
    top: 15%;
}

.smlButton1{
    font-size: 45px;
    background-color: blue;
    color: white;
    position: absolute;
    right: 85%;
    bottom: calc(15% + 220px);
    border-radius: 15px;
}

.smlButton2{
    font-size: 45px;
    background-color: blue;
    color: white;
    position: absolute;
    right: 77%;
    bottom: calc(15% + 220px);
    border-radius: 15px;
}

.pC{
    position: absolute;
    right: 70%;
    bottom: calc(15% + 220px)
}

.cC{
    position: absolute;
    left: 70%;
    top: calc(15% - 70px);
}
.active{
    background-image: url(cardBack.png);
    color: transparent !important;
    
    
}
.flex{
    display: flex;
    
}
.white{
    color: white;
}
.middle{
    top: 50%;
    left: 50%;
}

.computer{
    position: absolute;
    left: 70%;
    top: 15%;
}

.player{
    position: absolute;
    right: 70%;
    bottom: 15%;
}

.moveR{
    right: calc(70% - 400px) !important;
}

.moveL{
    left: calc(70% - 400px) !important;
}


.hide{
    display: none;
}

.suitDiamonds:before, .suitDiamonds:after{
    content:"♦";
    color: red;
}
.suitHearts:before, .suitHearts:after{
    content:"♥";
    color: red;
}
.suitClubs:before, .suitClubs:after{
    content:"♣";
    color: black;
}
.suitSpades:before, .suitSpades:after{
    content:"♠";
    color: black;
}
div[class*='suit']:before {
    position: relative;
    font-size: 50px;
    
}
div[class*='suit']:after {
    position: relative;
    font-size: 50px;
    
}